@import "tailwindcss";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} 


.jokestext::-webkit-scrollbar{
  display: none;
}
.jokestext{
  box-shadow: 0 0 5px white , 0 0 10px white , 0 0 15px;
}

